# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# Data files
data-generation/data/

# Output files
output/runs/

# Remove old version of code
old-files/
debug/